# CURRENT USER
# You could use this bash to see that vairable
# echo $(id -u):$(id -g)
CURRENT_UID=1000:1000

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=jdj
MYSQL_USER=root
MYSQL_PASSWORD=root

# Timezone
TIMEZONE=Europe/Paris
